{% extends 'base.html.twig' %}
{% block title %}
    SnowTricks
        
{% endblock %}
{% block body %}

    <div class="home_banner  text-center position-relative">
        <img  class=" img-fluid w-100" src="{{ asset('assets/uploads/snow.jpg') }}" alt="">
        <div class=" overlay d-flex position-absolute justify-content-center align-items-center">
                <h1>
                    Bienvenue sur le site communautaire SnowTricks
                </h1>
        </div>
        

        
    </div>

    <div class="row m-0">
        <div class="col">
            {% if app.user %}
                <form action="{{ path('add_figure') }}">
            <button class="btn btn-primary">Crée une tricks</button>
            </form>
            {% endif %}
            <div class="d-flex flex-wrap justify-content-center">
                {% for f in figures %}
                    <div class="card col-lg-2 m-2">
                        {% if f.media %}
                        <img src="..." class="card-img-top" alt="...">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ f.title }}
                            </h5>
                            <p class="card-text">
                                {{ f.description }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
