{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié ?{% endblock %}

    {% block body %}
        <div class="container text-center">
            <div class="row justify-content-center">
                <h1>Mot de passe oublié ?</h1>
    
                 {{ form_start(pass) }}
                 {{ form_row(pass.password) }}
    
                 <button type="submit" class="btn btn-success"> Envoyer </button>
                 <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annulé</button>
                 {{ form_end(pass) }}
                
                 </div>
                 </div>
    {% endblock %}
    