.home_banner {
  background: url("../uploads/snow.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  color: white;
}
<<<<<<< refs/remotes/Sh1r0w/master

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
}
=======
>>>>>>> add img in home page
