.home_banner {
  background: url("../uploads/snow.jpg") no-repeat center;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  top: 0; 
  left: 0; 
  min-width: 100%;
  max-height: 100%;
  color: white;
}
<<<<<<< refs/remotes/Sh1r0w/master

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.navLogo {
  max-width: 25%;
}